body{
font-family: Arial;
margin:0;
background:#f3f5f7;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#4a6cf7;
color:white;
}

.container{
padding:20px;
}

.form{
display:grid;
gap:10px;
margin-bottom:20px;
}

input,select,button{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#4a6cf7;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
padding:15px;
margin-bottom:10px;
border-radius:6px;
display:flex;
justify-content:space-between;
align-items:center;
}

.dark{
background:#1f1f1f;
color:white;
}